In [3]:
import pandas

In [8]:
df = pandas.read_csv('/Users/cperez/Documents/DSI/data/nyc_openData.csv') 
df.head()

,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,Industry descr,...,Savings from beginning receiving benefits,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1 State Street,David Neiburg,eskoblo@energyspec.com,7186779077,1114 Avenue J,Brooklyn,NY,11230,Commercial,35 story building,...,349.78,Brooklyn,40.624784,-73.964920,314.0,44.0,534.0,3179818.0,3.067130e+09,Midwood
1,100 Church LLC,Edward A. Carroll,NaN,2125663000,100 Church Street,NY,NY,10007,Commercial,21 Floors,...,4423698.05,New York,40.712968,-74.009490,101.0,1.0,21.0,1001409.0,1.001250e+09,SoHo-TriBeCa-Civic Center-Little Italy
2,100 Wall Investments,Jerry Branam,NaN,2122487160,96 Wall Street,New York,NY,10005,Landlord,NaN,...,1814542.62,New York,40.705052,-74.007199,101.0,1.0,7.0,1000875.0,1.000380e+09,Battery Park City-Lower Manhattan
3,1-10 Bush Terminal Owner LP,Andrew Kimball,akimball@industrycity.com,3474178429,"220 36th St, Suite 2A",Brooklyn,NY,11232,Landlord,Special Eligible Premises for eligible businesses,...,6755.31,Brooklyn,40.656061,-74.007334,307.0,38.0,2.0,3398687.0,3.006950e+09,Sunset Park West
4,"120 Broadway Acquisitions JV, LLC (Ldmk)",Carl Letich,clettich@silvprop.com,2124064020,120 Broadway,New York,NY,10271,Commercial,NaN,...,3293055.08,New York,40.708546,-74.011041,101.0,1.0,7.0,1001026.0,1.000478e+09,Battery Park City-Lower Manhattan

In [48]:
print( "1) How many different companies are represented in the data set?" )
#print(len(df))
print(len(df.groupby(['Company Name'])))

1) How many different companies are represented in the data set?
439

In [30]:
print( "2) What is the total number of jobs created for business in Queens?" )
len( df.loc[ df['City'].str.contains("Queens",na=False) ] )

2) What is the total number of jobs created for business in Queens?

68

In [56]:
print( "3) How many different unique email domains names are there in the data set?" )
df.groupby( ['company email'].str.Split('@')[1] )

3) How many different unique email domains names are there in the data set?

AttributeError: 'list' object has no attribute 'str'

In [38]:
dfreduced = df[ ["Company Name","Savings from beginning receiving benefits","NTA"] ]
dfreduced["NTA"].value_counts()
#df.loc( df['NTA'].value_counts()>5 )

Hunters Point-Sunnyside-West Maspeth        75
Sunset Park West                            48
Queensbridge-Ravenswood-Long Island City    16
park-cemetery-etc-Brooklyn                  15
Greenpoint                                  14
                                            ..
Washington Heights South                     1
Forest Hills                                 1
Morrisania-Melrose                           1
Ocean Hill                                   1
Co-op City                                   1
Name: NTA, Length: 79, dtype: int64