In [2]:
#%matplotlib notebook

import pandas
from datetime import datetime
import numpy
import matplotlib.pyplot as pyplot
from ipywidgets import widgets
from ipywidgets import interact
#import pickle
#import dill

import quandl
import scipy
import sklearn.linear_model
import sklearn.metrics

Source of the file is EIA.GOV. Great source of free data.

Imports of Crude Oil (Thousands of Barrels)
===================================

In [10]:
df_im = pandas.read_csv("Imports_of_all_grades_to_New_York-2.csv",skiprows=4)
ser = df_im["<span style='float:right;'>(thousand barrels)</span>"]

In [32]:
imports_nj = df_im.loc[[2]].melt(id_vars=["<span style='float:right;'>(thousand barrels)</span>"], var_name="Date", value_name="Barrels")[["Date","Barrels"]]
imports_ny = df_im.loc[[3]].melt(id_vars=["<span style='float:right;'>(thousand barrels)</span>"], var_name="Date", value_name="Barrels")[["Date","Barrels"]]
imports_ny["Barrels"] = imports_ny["Barrels"].str.replace("--", "0")
imports_nj["Barrels"] = imports_nj["Barrels"].str.replace("--", "0")
imports_ny["Barrels"] = imports_ny["Barrels"].astype(int)
imports_nj["Barrels"] = imports_nj["Barrels"].astype(int)
imports_ny["Date"] = pandas.to_datetime(imports_ny["Date"])
imports_nj["Date"] = pandas.to_datetime(imports_nj["Date"])
imports_ny.head()

        Date  Barrels
0 2009-01-01        0
1 2009-02-01        0
2 2009-03-01        0
3 2009-04-01        0
4 2009-05-01        0

In [31]:
#ax = imports_ny.plot(x="Date",y="Barrels",ylabel="Thousand of barrels",xlabel="Month",label="Imports from world to NY")
#imports_nj.plot(x="Date",y="Barrels",ylabel="Thousand of barrels",xlabel="Month",label="Imports from world to NJ",ax=ax)

In [12]:
#imports_ny.to_csv("imp_ny.csv",index=False)
#imports_nj.to_csv("imp_nj.csv",index=False)

Production of Crude Oil (Thousands of Barrels)
=====================================

In [7]:
production_ny = pandas.read_csv("New_York_Field_Production_of_Crude_Oil.csv",skiprows=4)
production_ny.columns = ['Date','Barrels']
production_ny["Barrels"] = production_ny["Barrels"].astype(int)
production_ny["Date"] = pandas.to_datetime( production_ny["Date"] )
production_ny.head()

        Date  Barrels
0 2022-06-01       22
1 2022-05-01       23
2 2022-04-01       22
3 2022-03-01       12
4 2022-02-01       11

In [11]:
production_ny.to_csv("pro_ny.csv",index=False)

In [7]:
price_ny = pandas.read_csv("Weekly_New_York_No._2_Heating_Oil_Residential_Price.csv",skiprows=4)
price_ny.columns = ['Date','DPG']
price_ny['Date'] = pandas.to_datetime(price_ny['Date'])

In [9]:
#price_ny.to_csv("price_ny.csv",index=False)

Source of the file is visualcrossing.com. Great source of free data.

Temperature and Wind Velocity in Long Island
=====

In [26]:
#temperature_ny = pandas.read_csv("11777 2017-10-01 to 2020-06-01.csv",skiprows=0)
temperature_ny = pandas.read_csv("1777 2017-10-01 to 2022-11-28.csv",skiprows=0)
temperature_ny = temperature_ny[['datetime','temp','windspeed']]
temperature_ny.columns
temperature_ny.head()

     datetime  temp  windspeed
0  2017-10-01  14.2       15.1
1  2017-10-02  14.4       17.5
2  2017-10-03  14.1       18.3
3  2017-10-04  16.6       26.2
4  2017-10-05  21.4       22.7

In [27]:
#convert date column to datetime and subtract one week
temperature_ny['datetime'] = pandas.to_datetime(temperature_ny['datetime']) - pandas.to_timedelta(7, unit='d')

#calculate sum of values, grouped by week
temp = temperature_ny.groupby([pandas.Grouper(key='datetime', freq='W-MON')])['temp'].mean()
wind = temperature_ny.groupby([pandas.Grouper(key='datetime', freq='W-MON')])['windspeed'].mean()
merg = pandas.merge( temp, wind, right_index=True, left_index=True )

#temperature_ny['datetime'] = pandas.to_datetime(temperature_ny['datetime']) - pandas.to_timedelta(7, unit='d')
#temperature_ny = temperature_ny.groupby(['Name', pandas.Grouper(key='Date', freq='W-MON')])['Quantity'].mean().reset_index().sort_values('datetime')

In [29]:
#temp.columns = ['datetime','avgT_C','avgWS']
merg.tail()

                 temp  windspeed
datetime
2022-10-24  13.585714  17.300000
2022-10-31  16.471429  19.157143
2022-11-07  11.242857  26.857143
2022-11-14   3.457143  29.685714
2022-11-21   7.685714  23.000000

In [30]:
#merg.to_csv("temp_ny_2.csv",index=True)

In [35]:
#merg.plot(y='temp',use_index=True)

In [33]:
#merg.plot(y='windspeed',use_index=True)